/* This strategy was taken from http://demos.9lessons.info/timeline/index.html */
/* line 3, ../sass/site.scss */
section {
  position: relative;
}

/* line 8, ../sass/site.scss */
header h1 {
  margin-bottom: 15px;
}
/* line 12, ../sass/site.scss */
header ul {
  list-style: none;
}
/* line 14, ../sass/site.scss */
header ul li {
  margin-bottom: 5px;
}

/* line 21, ../sass/site.scss */
.container .hero-unit h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
/* line 26, ../sass/site.scss */
.container .hero-unit input {
  font-size: 30px;
  height: 45px;
}
/* line 32, ../sass/site.scss */
.container .hero-unit ::-webkit-input-placeholder {
  padding-top: 5px;
}

/* line 37, ../sass/site.scss */
#timeline-container {
  position: relative;
}

/* line 41, ../sass/site.scss */
#timeline-line {
  background-color: #E08989;
  height: 100%;
  width: 4px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 428px;
}

/* line 51, ../sass/site.scss */
#timeline {
  width: 860px;
  margin: 0;
  list-style: none;
}
/* line 56, ../sass/site.scss */
#timeline h1 {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}
/* line 62, ../sass/site.scss */
#timeline .item {
  width: 388px;
  margin: 10px;
  float: left;
  background-color: #ffffff;
  border: solid 1px #B4BBCD;
  min-height: 50px;
  word-wrap: break-word;
  padding: 5px 10px;
}
/* line 72, ../sass/site.scss */
#timeline .item ol {
  list-style: none;
  margin: 0px;
  font-size: 12px;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}
/* line 79, ../sass/site.scss */
#timeline .item li {
  line-height: 15px;
  margin-bottom: 5px;
}
/* line 85, ../sass/site.scss */
#timeline .gravatar {
  height: 80px;
  float: left;
}
/* line 90, ../sass/site.scss */
#timeline .date {
  float: right;
}
/* line 94, ../sass/site.scss */
#timeline .prominent {
  width: 600px;
  text-align: center;
  padding-left: 300px;
}
/* line 99, ../sass/site.scss */
#timeline .prominent > div {
  width: 220px;
}
/* line 104, ../sass/site.scss */
#timeline #spinner {
  height: 100px;
  padding-left: 270px;
}
/* line 109, ../sass/site.scss */
#timeline .item, #timeline .prominent {
  margin-top: 20px;
}
/* line 113, ../sass/site.scss */
#timeline .corner {
  display: block;
  height: 15px;
  width: 13px;
  padding: 0;
  vertical-align: top;
  z-index: 2;
  position: absolute;
  margin-top: 8px;
}
/* line 124, ../sass/site.scss */
#timeline li[data-align=l] .corner {
  background: url("../img/right.png") no-repeat top right;
  margin-left: 398px;
}
/* line 129, ../sass/site.scss */
#timeline li[data-align=r] .corner {
  background: url("../img/left.png") no-repeat top right;
  margin-left: -23px;
}

/* line 135, ../sass/site.scss */
footer {
  clear: both;
}
